@{
	ViewData["Title"] = "Accounts";
}

<div class="text-center">
    <h1 class="display-4">All Accounts</h1>
</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Username</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var account in Model)
        {
            <tr>
                <th scope="row">@account.Id.ToString()</th>
                <td><a href="/Account/View/@account.Id">@account.Username.ToString()</a></td>
            </tr>
        }
    </tbody>
</table>
