@{
    ViewData["Title"] = "Blogs";
}

<div class="text-center">
    <h1 class="display-4">All Blogs</h1>
</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Account</th>
            <th scope="col">Blog</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var kvp in Model)
        {
            <tr>
                <th scope="row" colspan="2">@kvp.Key.Username</th>
            </tr>
            @foreach (var blog in kvp.Value)
            {
                <tr>
                    <td />
                    <td>
                        <a href="/Blog/View/@blog.Id">@blog.Title.ToString()</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
