@model NewBlogViewModel

@{
    ViewData["Title"] = "New Blog";
}

<div class="text-center">
    <h1 class="display-4">Create New Blog</h1>

    @using (Html.BeginForm("AddNew", "Blog", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="form-group">
            <label asp-for="AuthorId">Author</label>
            <select asp-for="AuthorId"
                    asp-items="@Model.Accounts.Select(
                        a => new SelectListItem { 
                            Value = a.Id.ToString(), 
                            Text = a.Username 
                        })"
                    class="form-control">
                <option value="">-- Select Author --</option>
            </select>
            <span asp-validation-for="AuthorId" class="text-danger"></span>

            <label asp-for="Title"></label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>

            <label asp-for="Description"></label>
            <input asp-for="Description" class="form-control" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <br />
        <button type="submit" class="btn btn-primary">Submit</button>
    }
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
